body {
  margin: 0%;
  background: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
header {
  margin-top: 25vh;
}
.board-row {
  display: flex;
  flex-direction: 'row';
}

.board-btn {
  border: none;
  border-bottom: 0.5px solid black;
  border-left: 0.5px solid black;
  width: 64px;
  height: 64px;
  cursor: pointer;
}


.board-btn:hover {
	background-color: gray;
}

.top-end {
  border-top: 0.5px solid black;
}

.right-end {
  border-right: 0.5px solid black;
}
