body {
  margin: 0%;
  background: #4f9dd1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
header {
  margin-top: 25vh;
  color: white;
  font-family: 'Fredoka';
}
.board-row {
  display: flex;
  flex-direction: 'row';
}

.board-btn {
  border: none;
  /* border-bottom: 0.5px solid black; */
  /* border-left: 0.5px solid black; */
  width: 64px;
  height: 64px;
  background-color: #e9dfa3;
  cursor: pointer;
}

.board-btn:hover {
  background-color: #97B392;
}

.top-end {
  /* border-top: 0.5px solid black; */
}

.right-end {
  /* border-right: 0.5px solid black; */
}
